<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>pi</title>
    <style>
      .icon {
        /* 通过设置 font-size 来改变图标大小 */
        width: 2em;
        height: 2em;
        /* 图标和文字相邻时，垂直对齐 */
        vertical-align: -0.15em;
        /* 通过设置 color 来改变 SVG 的颜色/fill */
        fill: currentColor;
        /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
             normalize.css 中也包含这行 */
        overflow: hidden;
      }
    </style>
  </head>

  <body>
    <svg class="icon" aria-hidden="true">
      <use xlink:href="#icon-kongxian"></use>
    </svg>
  </body>
</html>
<script src="../../assets/css/iconfont/iconfont.js"></script>
<script>
  let pi = 0
  let num = 1
  // let PI = function() {
  //   pi = pi + (-1) ** (num + 1) * (4 / (2 * num - 1))
  //   num++
  //   if (pi > 3.1415926 && pi < 3.1415927) {
  //     		// console.log(num);
  //     n = num
  //   } else {
  //     PI()
  //   }
  //   return n
  // }
  let PI = function() {
    while (pi < 3.1415926 || pi > 3.1415927) {
      pi = pi + (-1) ** (num + 1) * (4 / (2 * num - 1))
      num++
    }
    console.log(num - 1)
  }
  PI()
</script>
