<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>极简模式JavaScript音乐播放器</title>
    <style>
      body {
        margin: 0;
        padding: 0;
        max-width: 320px;
        text-align: center;
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <embed src="../assets/music.mp3" type="" />
    <embed src="../assets/movie.ogg" type="" />
    <video src="../assets/movie.ogg" controls></video>
    <video src="../assets/music.mp3" controls></video> <mark>啦啦啦啦</mark>
    <p>
      磁盘使用量：<meter value="“150”" min="“0”" max="“160”">150/160</meter>GB
    </p>
    <time datetime="2015-10-22T20:00">2015年10月12日晚上8点</time>
    <ruby>漢 <rt><rp>(</rp>ㄏㄢˋ<rp>)</rp></rt></ruby>
    <ruby>啦啦</ruby>
    <br/>
    <command onclick="alert('Hello World')">
        Click Me!</command>
  </body>

  <script></script>
</html>
