<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>typescript</title>
</head>

<body>

</body>

</html>
<!-- <script src="../typescript/greeter.ts"></script> -->
<script>
    // let duplicator = (arr) => {
    //     let Arr = [...arr]
    //     for (item in arr) {
    //         Arr.push(item)
    //     }
    //     return Arr
    // }
    // let a = duplicator([1, 2, 3, 4, 5])
    // console.log('a', a)
    let duplicator = function() {
        let arr = [1, 2, 3, 4, 5]
        let Arr = [...arr]
        arr.concat(Arr)
        return arr
    }

    console.log([1, 2, 3, 4, 5].duplicator())
</script>
<script>
    var er_name = '机器人'; //机器人名字 
    var er_hello = 'Hi，我是萌萌的机器人。'; //打招呼 
    var er_key = '...'; //填写你的 API KEY 
    $('body').append('<div class="er-k">^_^</div>');
    $(document).on('click', '.er-k', function() {
        $('body').addClass('er-mao').append('<div id="er-di"></div>').after(
            '<div id="erobot"><div class="er-t er-z"><div class="er-i">' + er_name +
            '</div><div class="er-p">' + er_hello +
            '</div><div class="er-clear"></div></div><div class="er-g"></div><div class="er-f"><input type="text" class="er-fi" id="er-f" placeholder="写点什么吧..."><input class="er-fs" type="submit" id="er-s" value="发送"></div><div id="er-x">×</div></div>'
        );
        $('#er-f').focus();
    });
    $(document).on('keypress', '#er-f', function(e) {
        if (e.which == 13) {
            $('#er-s').click();
        }
    });
    $(document).on('click', '#er-s', function() {
        var a = $('#erobot .er-g'),
            b = $('#er-f'),
            c = $('#er-f').val(),
            d = $('#erobot');
        a.before('<div class="er-t er-y"><div class="er-i">我</div><div class="er-p">' + c +
            '</div><div class="er-clear"></div></div>');
        d.scrollTop(d[0].scrollHeight);
        b.val('');
        $.getJSON('http://www.tuling123.com/openapi/api?key=' + er_key + '&info=' + c, function(data) {
            a.before('<div class="er-t er-z"><div class="er-i">' + er_name + '</div><div class="er-p">' +
                data.text + '</div><div class="er-clear"></div></div>');
            d.scrollTop(d[0].scrollHeight);
        });
    });
    $(document).on('click', '#er-x', function() {
        $('#erobot').remove();
        $('body').removeClass('er-mao');
        $('#er-di').remove();
    });
</script>