<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>格子</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #box {
      margin: 10px;
      overflow: hidden;
    }

    #box .grid {
      float: left;
      width: 98px;
      height: 98px;
      border: 1px solid black;
    }

    #box .grid:hover {
      background: red;
    }
  </style>
</head>

<body>
  <div>
    <input id="inputNum" type="text" placeholder="请输入格式数">
    <input type="button" onclick="buttonClick()" value="确定">
    <div id="box">
    </div>
  </div>
</body>

</html>
<script>
  var inputNum = document.getElementById('inputNum')
  var box = document.getElementById('box')
  function buttonClick() {
    let str = ''
    if (parseInt(inputNum.value)) {
      box.style.width = parseInt(inputNum.value) * 100 + 'px'
      box.style.height = parseInt(inputNum.value) * 100 + 'px'
      for (let i = 0; i < parseInt(inputNum.value) * parseInt(inputNum.value); i++) {
        str += '<div class="grid"></div>'
      }
      box.innerHTML = str
    }
  }
  box.addEventListener('click', function (e) {
    if (e.target.style.background === 'blue') {
      e.target.style.background = 'white'
    } else {
      e.target.style.background = 'blue'
    }
  })
</script>