<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>计算总价</title>
</head>
<body>
  <div>
      预算：<input id="allPrice" type="text" placeholder="请输入总预算">
      商品价格：<input id="price" type="text" placeholder="请输入商品价格，并使用空格隔开">
      <input onclick="clickComputer()" type="button" value="计算">
      <h4 id="total">商品总价：0</h4>
  </div>
</body>
</html>
<script>
    var allPrice = document.getElementById('allPrice')
    var price = document.getElementById('price')
    var total = document.getElementById('total')
    function clickComputer(){
      let arr = price.value.split(' ')
      let num = 0;
      for(let i = 0; i < arr.length; i ++) {
        num = num + parseInt(arr[i])
      }
      if (parseInt(allPrice.value) >= num) {
        total.innerText = '商品总价：' + num
      } else {
        total.innerText = '商品总价超出预算'
      }
    }
</script>