<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body></body>
</html>
<script src="https://cdn.bootcss.com/lodash.js/4.17.12-pre/lodash.js"></script>
<script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.js"></script>
<script>
  let difference = _.difference([2, 1, 4, 5], [2, 3], [4]);
  console.log(difference);
  let fill = _.fill([4, 6, 8, 10, 12, 14], "*", 0, 4);
  console.log(fill);
  let fromPairs = _.fromPairs([[1, 3], [2, 4]]);
  console.log(fromPairs);
  let objects = [{ x: 1, y: 2 }, { x: 2, y: 1 }];
  let others = [{ x: 1, y: 1 }, { x: 1, y: 2 }];
  let intersectionWith = _.intersectionWith(objects, others, _.isEqual);
  console.log(intersectionWith);
  $.get('https://www.hnlzqxsd.com/cms/api/weather', function(res){
    console.log(res);
  })
  let date = '<![CDATA[4-5级]]>'
  let fengli = function(date){
    let str = date.split('[')[2];
    str = str.split(']')[0];
    console.log(str);
  };
  fengli(date);
</script>
